In [1]:
!python --version

Python 3.10.9

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler

import pickle 
import json

### problem statement :

#### Predict the premium amount for the medical insurance based on various input features

### Data gathering

In [3]:
df = pd.read_csv('medical_insurance.csv')
df

      age  gender     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

### EDA

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   gender    1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
df['gender'].value_counts().to_dict()
df['gender'].replace({'male': 1, 'female': 0}, inplace = True)

In [6]:
df['smoker'].value_counts().to_dict()
df['smoker'].replace({'no': 0, 'yes': 1}, inplace = True)

In [7]:
df.region.value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [8]:
df = pd.get_dummies(df, columns=['region'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1338 non-null   int64
 1   gender            1338 non-null   int64
 2   bmi               1338 non-null   float64
 3   children          1338 non-null   int64
 4   smoker            1338 non-null   int64
 5   charges           1338 non-null   float64
 6   region_northeast  1338 non-null   uint8
 7   region_northwest  1338 non-null   uint8
 8   region_southeast  1338 non-null   uint8
 9   region_southwest  1338 non-null   uint8
dtypes: float64(2), int64(4), uint8(4)
memory usage: 68.1 KB

In [10]:
x = df.drop('charges',axis=1)
y = df['charges']

In [11]:
scaler = MinMaxScaler()
arr = scaler.fit_transform(x)
x_scale = pd.DataFrame(arr, columns = x.columns)
x_scale

,age,gender,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
0,0.021739,0.0,0.321227,0.0,1.0,0.0,0.0,0.0,1.0
1,0.000000,1.0,0.479150,0.2,0.0,0.0,0.0,1.0,0.0
2,0.217391,1.0,0.458434,0.6,0.0,0.0,0.0,1.0,0.0
3,0.326087,1.0,0.181464,0.0,0.0,0.0,1.0,0.0,0.0
4,0.304348,1.0,0.347592,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
1333,0.695652,1.0,0.403820,0.6,0.0,0.0,1.0,0.0,0.0
1334,0.000000,0.0,0.429379,0.0,0.0,1.0,0.0,0.0,0.0
1335,0.000000,0.0,0.562012,0.0,0.0,0.0,0.0,1.0,0.0
1336,0.065217,0.0,0.264730,0.0,0.0,0.0,0.0,0.0,1.0
1337,0.934783,0.0,0.352704,0.0,1.0,0.0,1.0,0.0,0.0

### Model training :

In [12]:
x_scale_train,x_scale_test, y_train, y_test = train_test_split(x_scale,y, test_size=0.2, random_state=17)
knn_model = KNeighborsRegressor()
knn_model.fit(x_scale_train,y_train)

KNeighborsRegressor()

### Model evaluation

In [13]:
train_score = knn_model.score(x_scale_train,y_train)
print(train_score)

test_score = knn_model.score(x_scale_test,y_test)
print(test_score)

0.8493198307380913
0.754302385835028

### Save model file

In [14]:
with open('model.pkl','wb') as file: 
    pickle.dump(knn_model,file)

In [15]:
with open('scale.pkl','wb') as file: 
    pickle.dump(scaler,file)

In [16]:
x.columns.tolist()

['age',
 'gender',
 'bmi',
 'children',
 'smoker',
 'region_northeast',
 'region_northwest',
 'region_southeast',
 'region_southwest']

In [17]:
project_data = {"column_names":x.columns.tolist(),
               "gender":{'male': 1, 'female': 0},
               "smoker":{"no":0,"yes":1}
               }

with open('project_data.json','w') as file:
    json.dump(project_data,file)

### User defined function

In [18]:
age = 19
gender = "male"
bmi = 35.900
smoker = "yes"
region = "northwest"

# preprocessing 

if gender == "male":
    gender = 1
else: 
    gender = 0
    
if smoker == "no":
    smoker = 1
else: 
    smoker = 0

    
user_data = np.zeros(len(x.columns))
user_data[0] = age
user_data[1] = gender
user_data[2] = bmi
user_data[3] = smoker

search_region = 'region_'+region
index = np.where(x.columns == search_region)[0][0]
user_data[index] = 1

### Scaling the user data 
user_data_scale = scaler.transform([user_data])
print(user_data_scale)

result = knn_model.predict(user_data_scale)
result

[[0.02173913 1.         0.53645413 0.         0.         0.
  1.         0.         0.        ]]

C:\Users\Public\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(
C:\Users\Public\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

array([1833.63271])